* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  overflow-x: hidden;
}

/* Header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #355e3b;
  padding: 12px 20px;
  border-bottom: 4px solid #000;
  border-radius: 0 0 20px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.profile-icon {
  font-size: 1.8rem;
}

/* Banner */
.banner {
  width: 100%;
  height: auto;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Button Section */
.buttons {
  text-align: center;
  padding: 30px 20px 50px;
}

.custom-button {
  display: block;
  margin: 25px auto 10px;
  padding: 15px;
  width: 90%;
  max-width: 400px;
  background: #e0dcdc;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
}

.custom-button:hover {
  background: #d4d4d4;
}

.note {
  font-size: 0.9rem;
  color: #c7e9c0;
}
